
* {
    li {
        list-style: none;
        cursor: pointer;
    }

    a {
        text-decoration: none !important;
        cursor: pointer;
    }

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

button,
i {
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
.container {
    max-width: 567px;
    width: 100%;
    margin: 0 auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
    background-color: #f9f7fc;
    padding-bottom: 70px;
}

.contentImg {
    background-image: url(./header-bg-2.png);

}

.content {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.navBar {

    height: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;

    img {
        width: 120px;
        height: 77px;
    }

    i {
        color: #ffffff;
        font-size: 20px;
    }

}
.navBtns{
    display: none;
}
.pcPage{
    display: none;
}

.oneSection {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    gap: 20px;
    padding: 55px 0px 55px 0;

    p {
        font-size: 35px;
        font-weight: 600;
    }

    h3 {
        font-size: 20px;
        color: #ffffff80;
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 20px;

    input {
        width: 500px;
        height: 75px;
        padding: 10px;
        font-size: 20px;
        border-radius: 8px;
        border: none;
        padding: 15px;
        box-sizing: border-box;


    }

    i {
        font-size: 22px;
        position: absolute;
        color: #673ab7;
        right: 0;
        padding-right: 10px;

    }
}

.heardTwoSection {
    padding: 70px 0px 25px 0px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        color: #673ab7;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }

    h4 {
        color: #3a3c4c;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;

    }
}

.sectionTwoCards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom: 70px;

}

.sectionTwoCardSize {
    width: 100%;
    height: 440px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;

    button {
        background-color: #fc6591;
        width: 107px;
        height: 30px;
        border-radius: 20px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;

    }

    i {
        color: #673ab7;
        border-radius: 50%;
        border: 4px solid #ffffff;
        background-color: #faf9fd;
        box-shadow: 0 0px 15px #efebf8;
        width: 130px;
        height: 130px;
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        color: #673ab7;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }

    h3 {
        color: #818892;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;

    }
}

.sectionPunkt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.punktSize {
    width: 470px;
    height: 96px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
    padding: 20px;
    background-color: #ffffff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-family: 'Roboto', sans-serif;
        color: #3a3c4c;
        font-size: 20px;
    }

    i {
        color: #3a3c4c;
        font-weight: 100;
    }
}

.fourSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fourCard {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    gap: 5px;
    width: 100%;
    padding: 25px;
    border-bottom: 1px solid #818892;

    p {
        color: #673ab7;
        font-size: 20px;
        font-weight: 600;
    }

    h4 {
        color: #818892;
        font-size: 14px;
    }

    h3 {
        color: #3a3c4c;
        font-size: 16px;
    }
}

.fourSection .fourCard:last-child {
    border: none;
}

.fiveContent {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 70px 0px;

    p {
        color: #3a3c4c;
        font-size: 27px;
        font-weight: 700;
    }

    h4 {
        color: #3a3c4c;
        font-size: 16px;
    }

    button {
        width: 211.14px;
        height: 55px;
        border-radius: 20px;
        background-color: #fc6591;
        color: #ffffff;
        font-weight: 700;
        font-size: 14px;
    }
}

.sixSection {
    padding: 140px 0px;
}

.sixCard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    gap: 10px;


    p {
        display: flex;
        color: #673ab7;
        font-size: 20px;
        font-weight: 700;
        gap: 7px;

        i {
            font-size: 20px;

        }
    }

    h4 {
        color: #3a3c4c;
        font-size: 16px;
        font-weight: 300;

    }

    h3 {
        color: #673ab7;
        font-size: 16px;
        font-weight: 300;
    }
}

.footer {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
        color: 14px;
        color: #3a3c4c;
    }
}

a {
    color: 14px;
    color: #3a3c4c;
}

.footerNetworks {
    color: #818892;
    display: flex;
    gap: 20px;
}

.footerContact {
    color: #818892;
    display: flex;
    gap: 15px;
}
.fa-arrow-up{
    color: #818892;
}

}

@media only screen and (min-width: 992px){
    .container {
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
        background-color: #f9f7fc;
        padding-bottom: 70px;
    }
    
    .contentImg {
        background-image: url(./header-bg-2.png);
    
    }
    
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }
    
    .navBar {
    
        height: 81px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
    
        img {
            width: 120px;
            height: 77px;
        }
    
        i {
            color: #ffffff;
            font-size: 20px;
            display: none;
        }
    
    }
    .pcPage{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:12px;
        width: 70%;
    }
    .navPages{
        font-family: 'Roboto', sans-serif;
        display: flex;
        gap: 12px;
        a{
            color: #d3d3d3;
            font-size: 14px;
        }
        a:first-child {
            color: #ffffff;
            font-weight: 600;
        }
    }
    .navBtns{
        display: flex;
        gap: 12px;
    }
    .btn1{
        font-family: 'Roboto', sans-serif;
        background-color: #ffffff1a;
        width: 103px;
        height: 37px;
        border-radius: 20px;
        color: #ffffff;
    }
    .btn2{
        font-family: 'Roboto', sans-serif;
        background-color: #ffffff1a;
        width: 80.5px;
        height: 37px;
        border-radius: 20px;
        color: #ffffff;
    }


    .oneSection {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        gap: 20px;
        padding: 55px 0px 55px 0;
    
        p {
            font-size: 42px;
            font-weight: 600;
        }
    
        h3 {
            font-size: 20px;
            color: #ffffff80;
        }
    }
    
    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 20px;
    
        input {
            width: 625px !important;
            height: 70px;
            padding: 10px;
            font-size: 20px;
            border-radius: 8px;
            border: none;
            padding: 15px;
    
        }
    
        i {
            font-size: 26px;
            position: absolute;
            color: #673ab7;
            right: 0;
            padding-right: 10px;
        }
    }
    
    .heardTwoSection {
        padding: 70px 0px 25px 0px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        p {
            color: #673ab7;
            font-size: 32px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
    
        h4 {
            color: #3a3c4c;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
    
        }
    }
    
    .sectionTwoCards {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        padding-bottom: 70px;
    
    }
    
    .sectionTwoCardSize {
        width: 30%;
        height: 400px;
        box-sizing: border-box;
        background-color: #ffffff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        gap: 20px;
    
        button {
            background-color: #fc6591;
            width: 107px;
            height: 30px;
            border-radius: 20px;
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
    
        }
    
        i {
            color: #673ab7;
            border-radius: 50%;
            border: 4px solid #ffffff;
            background-color: #faf9fd;
            box-shadow: 0 0px 15px #efebf8;
            width: 130px;
            height: 130px;
            font-size: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        p {
            color: #673ab7;
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
    
        h3 {
            color: #818892;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
    
        }
    }
    
    .threeSection{
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    .sectionPunkt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    
    .punktSize {
        width: 470px;
        height: 96px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
        padding: 20px;
        background-color: #ffffff;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        p {
            font-family: 'Roboto', sans-serif;
            color: #3a3c4c;
            font-size: 20px;
        }
    
        i {
            color: #3a3c4c;
            font-weight: 100;
        }
    }
    
    .fourSection {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .fourCard {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        gap: 5px;
        width: 100%;
        padding: 25px;
        border-bottom: 1px solid #818892;
    
        p {
            color: #673ab7;
            font-size: 20px;
            font-weight: 600;
        }
    
        h4 {
            color: #818892;
            font-size: 14px;
        }
    
        h3 {
            color: #3a3c4c;
            font-size: 16px;
        }
    }
    
    .fourSection .fourCard:last-child {
        border: none;
    }
    
    .fiveContent {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 70px 0px;
    
        p {
            color: #3a3c4c;
            font-size: 27px;
            font-weight: 700;
        }
    
        h4 {
            color: #3a3c4c;
            font-size: 16px;
        }
    
        button {
            width: 211.14px;
            height: 55px;
            border-radius: 20px;
            background-color: #fc6591;
            color: #ffffff;
            font-weight: 700;
            font-size: 14px;
        }
    }
    
    .sixSection {
        padding: 140px 0px;
    }
    .sixInfo{
        display: flex;
    }
    
    .sixCard {
        padding: 20px;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        gap: 10px;
    
    
        p {
            display: flex;
            color: #673ab7;
            font-size: 20px;
            font-weight: 700;
            gap: 7px;
    
            i {
                font-size: 20px;
    
            }
        }
    
        h4 {
            color: #3a3c4c;
            font-size: 16px;
            font-weight: 300;
    
        }
    
        h3 {
            color: #673ab7;
            font-size: 16px;
            font-weight: 300;
        }
    }
    
    .footer {
        display: flex;
        gap: 25px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .footerInfo {
        display: flex;
        flex-direction: column;
        gap: 5px;
    
        p {
            color: 14px;
            color: #3a3c4c;
        }
    }
    
    a {
        color: 14px;
        color: #3a3c4c;
    }
    
    .footerNetworks {
        color: #818892;
        display: flex;
        gap: 20px;
    }
    
    .footerContact {
        color: #818892;
        display: flex;
        gap: 15px;
    }
    .fa-arrow-up{
        color: #818892;
    }
    
    }


@media only screen and (min-width: 601px) and (max-width: 991px) {
    .container {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
        background-color: #f9f7fc;
        padding-bottom: 70px;
    }
    
    .contentImg {
        background-image: url(./header-bg-2.png);
    
    }
    
    .content {
        max-width: 640px;
        width: 100%;
        margin: 0 auto;
    }
    
    .navBar {
    
        height: 81px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
    
        img {
            width: 120px;
            height: 77px;
        }
    
        i {
            color: #ffffff;
            font-size: 20px;
        }
    
    }
    .navBtns{
        display: none;
    }
    .pcPage{
        display: none;
    }
   
    .oneSection {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        gap: 20px;
        padding: 55px 0px 55px 0;
    
        p {
            font-size: 35px;
            font-weight: 600;
        }
    
        h3 {
            font-size: 20px;
            color: #ffffff80;
        }
    }
    
    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 20px;
    
        input {
            width: 500px;
            height: 80px;
            padding: 10px;
            font-size: 20px;
            border-radius: 8px;
            border: none;
            padding: 15px;
    
    
        }
    
        i {
            font-size: 26px;
            position: absolute;
            color: #673ab7;
            right: 0;
            padding-right: 10px;
    
        }
    }
   
    .heardTwoSection {
        padding: 70px 0px 25px 0px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        p {
            color: #673ab7;
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
    
        h4 {
            color: #3a3c4c;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
    
        }
    }
    
    .sectionTwoCards {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        padding-bottom: 70px;
    
    }
    
    .sectionTwoCardSize {
        width: 45%;
        height: 440px;
        box-sizing: border-box;
        background-color: #ffffff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        gap: 20px;
    
        button {
            background-color: #fc6591;
            width: 107px;
            height: 30px;
            border-radius: 20px;
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
    
        }
    
        i {
            color: #673ab7;
            border-radius: 50%;
            border: 4px solid #ffffff;
            background-color: #faf9fd;
            box-shadow: 0 0px 15px #efebf8;
            width: 130px;
            height: 130px;
            font-size: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        p {
            color: #673ab7;
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
    
        h3 {
            color: #818892;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
    
        }
    }

    .sectionPunkt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    
    .punktSize {
        width: 470px;
        height: 96px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
        padding: 20px;
        background-color: #ffffff;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        p {
            font-family: 'Roboto', sans-serif;
            color: #3a3c4c;
            font-size: 20px;
        }
    
        i {
            color: #3a3c4c;
            font-weight: 100;
        }
    }
    
    .fourSection {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .fourCard {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        gap: 5px;
        width: 100%;
        padding: 25px;
        border-bottom: 1px solid #818892;
    
        p {
            color: #673ab7;
            font-size: 20px;
            font-weight: 600;
        }
    
        h4 {
            color: #818892;
            font-size: 14px;
        }
    
        h3 {
            color: #3a3c4c;
            font-size: 16px;
        }
    }
    
    .fourSection .fourCard:last-child {
        border: none;
    }
 
    .fiveContent {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 70px 0px;
    
        p {
            color: #3a3c4c;
            font-size: 27px;
            font-weight: 700;
        }
    
        h4 {
            color: #3a3c4c;
            font-size: 16px;
        }
    
        button {
            width: 211.14px;
            height: 55px;
            border-radius: 20px;
            background-color: #fc6591;
            color: #ffffff;
            font-weight: 700;
            font-size: 14px;
        }
    }
    
    .sixSection {
        padding: 140px 0px;
    }
    
    .sixCard {
        padding: 20px;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        gap: 10px;
    
    
        p {
            display: flex;
            color: #673ab7;
            font-size: 20px;
            font-weight: 700;
            gap: 7px;
    
            i {
                font-size: 20px;
    
            }
        }
    
        h4 {
            color: #3a3c4c;
            font-size: 16px;
            font-weight: 300;
    
        }
    
        h3 {
            color: #673ab7;
            font-size: 16px;
            font-weight: 300;
        }
    }
    
   
    .footer {
        display: flex;
        gap: 25px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .footerInfo {
        display: flex;
        flex-direction: column;
        gap: 5px;
    
        p {
            color: 14px;
            color: #3a3c4c;
        }
    }
    
    a {
        color: 14px;
        color: #3a3c4c;
    }
    
    .footerNetworks {
        color: #818892;
        display: flex;
        gap: 20px;
    }
    
    .footerContact {
        color: #818892;
        display: flex;
        gap: 15px;
    }
    .fa-arrow-up{
        color: #818892;
    }

    }